html,
body {
    height: 100vh;
    overflow: hidden;
    background: rgb(163,56,204);
    background: linear-gradient(326deg, rgba(163,56,204,1) 0%, rgba(6,141,201,1) 49%, rgba(0,212,255,1) 100%); 
}

.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: none;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#sticker {
    padding: 25px;
    background: rgb(75, 75, 75);
    width: 450px;
    float: left;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: white;
    font-weight: bold;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);


}

.form-group {
    width: 18rem;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20px; 
}